<div class="bar bar-positive bar-header">
  <button class="button">Perfil</button>
  <h1 class="title">Filtrar socios</h1>
  <button class="button" ng-click="showLogOutMenu()">Salir</button>
</div>
<ion-view title="Categorías">
	<ion-content>
	<br><br><br>
		<!--{{categoria.categriaId}}-->
		<div class="list">
		    <a class="item item-thumbnail-left" href="#/filter/{{categoria.categriaId}}">
			      <img src="img/filter2.png">
			      <h2>Filtro geolocalizado</h2>
			      <p>Filtrar los socios en base a tu ubicación</p>
		    </a>
		</div>

		<div class="list">
		    <a class="item item-thumbnail-left" href="#/nofilter/{{categoria.categriaId}}">
			      <img src="img/nofilter2.png">
			      <h2>Sin Filtro</h2>
			      <p>Ver todos los socios</p>
		    </a>
		</div>
	</ion-content>
</ion-view>

<ion-tabs class="tabs-positive tabs-icon-left">
   <a class="tab-item" href="#/perfil"> 
	    <span style="color: rgb(255, 255, 255); font-size: 1.3em;">
	    <i class="ion-ios-list-outline"></i>
	    	Categorías
	    </span>
  </a>
  <a class="tab-item" href="#/fav">
	    <span style="color: rgb(255, 255, 255); font-size: 1.3em;">
	    	<i class="ion-android-favorite"></i>
	    	Favoritos
	    </span>
  </a>
  <a class="tab-item" href="#/rank">
	    <span style="color: rgb(255, 255, 255); font-size: 1.3em;">
	    	<i class="ion-trophy"></i>
	    	Ranking
	    </span>	
  </a>
</ion-tabs> 