<style type="text/css">	

.scroll-content
{
  background: url(img/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<ion-view title="Mockup">
	<ion-content>
	<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
          <br><br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Login
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">     
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                              
                						     <center> 
                						      <a class="btn btn-block btn-social btn-facebook" ng-click="facebookSignIn()">
                						        <i class="fa fa-facebook"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Logueate con Facebook
                						      </a>
                						      <a class="btn btn-block btn-social btn-google-plus">
                						        <i class="fa fa-google-plus"></i> &nbsp;&nbsp;&nbsp;&nbsp; Logueate con Google +
                						      </a>
                						      
                						   	 </center>	
    	
                            </div>
                        </div>     
                    </form>
                </div>
                <div class="panel-footer">
                    <center><a href="#/perfil">Omitir este paso</a></center>
                </div>
            </div>
        </div>
    </div>
</div>

		<div class="container">
		  <div class="row">
		    
		   </div>    
  		</div>
	</ion-content>
</ion-view>
<script>