 <div class="bar bar-positive bar-header">
  <button class="button">Perfil</button>
  <h1 class="title">Categorías</h1>
  <button class="button" ng-click="showLogOutMenu()">Salir</button>
</div>
<ion-view title="Categorías">
	<ion-content>
		<br><br>
              	<label class="item item-input">
            		  <i class="icon ion-search placeholder-icon"></i>
            		  <input type="search" placeholder="Buscar" ng-model="buscador">
            	</label>
                <ion-list>
            	<ion-item ng-repeat="categoria in categorias|filter:buscador|orderBy:'nombre'"  href="#/filterornot/{{categoria.id}}">
                    <div class="item item-thumbnail-left" style="border:none">
                      <div >
                        <p style="white-space: normal;"><b>{{categoria.nombre}}</b></p>
                        <p style="white-space: normal;">{{categoria.descripcion}}</p>
                       </div> 
                    </div>    
                  </ion-item>
                </ion-list>
	</ion-content>
</ion-view>

<ion-tabs class="tabs-positive tabs-icon-left">
   <a class="tab-item" href="#/perfil"> 
	    <span style="color: rgb(255, 255, 255); font-size: 1.3em;">
	    <i class="ion-ios-list-outline"></i>
	    	Categorías
	    </span>
  </a>
  <a class="tab-item" href="#/fav">
	    <span style="color: rgb(255, 255, 255); font-size: 1.3em;">
	    	<i class="ion-android-favorite"></i>
	    	Favoritos
	    </span>
  </a>
  <a class="tab-item" href="#/rank">
	    <span style="color: rgb(255, 255, 255); font-size: 1.3em;">
	    	<i class="ion-trophy"></i>
	    	Ranking
	    </span>	
  </a>
</ion-tabs> 